hr{
    margin: 20px 0;
}
.box1_img img{
    width: 100%;
}
.box1_txt{
    display: flex;
    margin: 20px 0;
}
.box1_txt p{
    width: 50%;
    margin-right: 20px;
}
.box1_txt img{
    width: 50%;
}
.box1{
    display: flex;
    flex-wrap: wrap;
}
.box{
    display: flex;
    flex-wrap: wrap;
}
.boxb{
    background-color: rgb(241, 247, 252);
    width: 46%;
    margin: 2%;
}
.boxb div{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px;
    border-radius: 200px;
}
.boxb img{
    width: 200%;
    position: relative;
    /* top: -30px;
    left: -90px; */
    /*自行調整位置*/
}
.boxb:nth-of-type(1) img{
    position: relative;
   
    width: 100%;
}
.boxb:nth-of-type(2) img{
    position: relative;
  
    width: 100%;
}
.boxb:nth-of-type(3) img{
    position: relative;
  
  width: 100%;
}
.boxb:nth-of-type(4) img{
    position: relative;
    top: -10px;
    width: 100%;
}
.boxb p{
    margin: 20px 0;
    text-align:center;
}
.boxb div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 768px) {
    .boxb {
        width: 100%;
        margin: 10px 0;
    }
    .box1_txt {
        flex-direction: column;
    }
    .box1_txt p,
    .box1_txt img {
        width: 100%;
    }
}

/* =============================================
   RWD 響應式設計補充
   ============================================= */
@media (max-width: 600px) {
    .boxb {
        width: 100%;
        margin: 8px 0;
    }

    .boxb div {
        width: 150px;
        height: 150px;
    }

    .box1_img img {
        width: 100%;
    }
}
